<!DOCTYPE html>
<html>
<head>
    <title>Coding Challenge</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
<div id="app">
    <div class="container mx-auto px-4 pt-6">
        <div class="search mb-5">
            <input type="text"
                   id="search"
                   class="w-full shadow-lg border-2 border-gray-300 rounded-lg px-4 py-2 text-lg font-semibold text-gray-700 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent"
                   placeholder="search..."
                   v-model="this.search"
                   @input="this.debouncedSearch"
            >
        </div>

        <div class="filters">
            <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded"
                    @click="this.loadProductCategory('sunglasses')">
                Only sunglasses
            </button>
            <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded ml-2 mb-2"
                    @click="this.reset()">
                Reset
            </button>
        </div>


        <div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 gap-5">
            <div class="mx-auto rounded overflow-hidden shadow-lg bg-white flex flex-col relative"
                 v-for="product in this.filteredProducts"
                 :key="product.id"
                 @click="showDiscountPopup = true; selectedProduct = product;">


                <h3 class="font-bold text-xl text-center mt-2 ">
                    {{product.title}}
                </h3>

                <div class="p-2">
                    <img :src="product.thumbnail" alt="" class="w-full h-60 object-fit-cover">
                </div>


                <div class="p-2">
                    <p class="text-gray-500 text-base">{{ product.description }}</p>
                    <p>Price: {{ product.price }}</p>
                    <p>Rating: {{ product.rating }}</p>
                </div>
                <div class="flex-grow"></div>
                <div class="bottom-5 w-full flex justify-center p-10">
                    <button class="bg-gray-200 hover:bg-gray-400 text-gray-800 font-bold py-1 px-4 rounded">
                        Discounted Price
                    </button>
                </div>
            </div>

            <div v-if="this.showDiscountPopup"
                class="fixed inset-0 bg-gray-900 bg-opacity-50 flex justify-center items-center"
                @click.self="this.closeDiscountPopup()">
                <div class="bg-white p-6 rounded shadow-lg">
                    <p class="text-gray-800 font-bold text-lg mb-4">
                        Discounted Price: {{ this.calculateDiscountPrice(selectedProduct.price, selectedProduct.discountPercentage) }}
                        of the {{selectedProduct.title}}</p>
                </div>
            </div>
        </div>

        <div class="flex justify-center p-4 ">
            <button v-if="!this.maxProductsDisplayed"
                    class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded"
                    @click="this.loadMoreProducts">Load more
            </button>
        </div>
    </div>

</div>
<script>

    const app = Vue.createApp({
        data() {
            return {
                search: '',
                selectedCategory: null,
                maxProductsDisplayed: false,
                showDiscountPopup: false,
                searchTimeout: null,
                sessionProducts: []
            }
        },
        methods: {
            storeToSession(data){
                const productObj = JSON.stringify(data)
                sessionStorage.setItem('productsArray', productObj)
            },

            getFromSession(){
                const products = sessionStorage.getItem('productsArray')
                const parsedProducts = JSON.parse(products)
                return parsedProducts
            },

            reset(){
                this.search = ''
                this.sessionProducts = this.getFromSession()
                this.maxProductsDisplayed =!this.maxProductsDisplayed
            },

            getProducts() {
                if(this.sessionProducts.length === 0){
                    axios.get('https://dummyjson.com/products?limit=20')
                        .then(response => {
                            this.sessionProducts =  response.data.products;
                            //store to session
                            this.storeToSession(response.data.products)
                            //   console.log(response.data.products)
                        }).catch(error => {
                        console.log(error)
                    })
                } else{
                    console.log("Session storage contains:",this.sessionProducts.length)
                }

            },

            loadMoreProducts() {
                const index = this.sessionProducts.length
                axios.get(`https://dummyjson.com/products?limit=10&skip=${index}`)
                    .then(response => {
                        if (response.data.products.length === 0) {
                            this.maxProductsDisplayed = true
                        } else {
                            for (let item in response.data.products) {
                                this.sessionProducts.push(response.data.products[item])
                            }
                        }
                    }).catch(error => {
                    console.log(error)
                })
            },

            loadProductCategory(cat) {
                axios.get(`https://dummyjson.com/products/category/${cat}`)
                    .then(response => {
                        this.sessionProducts = response.data.products
                        this.maxProductsDisplayed = true
                    }).catch(error => {
                    console.log(error)
                })
            },

            productSearch(product){
                axios.get(`https://dummyjson.com/products/search?q=${product}`)
                    .then(response =>{
                        console.log('productSearchData ',response.data)
                        this.sessionProducts = response.data.products
                    })
                this.maxProductsDisplayed =!this.maxProductsDisplayedgi
            },

            calculateDiscountPrice(price, discountPercentage) {
                const discountAmount = (price * discountPercentage) / 100;
                return price - discountAmount;
            },

            closeDiscountPopup() {
                this.showDiscountPopup = false;
            },

            debouncedSearch(){
                clearTimeout(this.searchTimeout)
                this.searchTimeout = setTimeout(()=>{
                    this.productSearch(this.search)
                },1000)
            }
        },
        watch:{
            search: function(newSearchTerm){
                clearTimeout(this.searchTimeout);
                this.searchTimeout = setTimeout(()=>{
                    this.productSearch(newSearchTerm)
                },1000)
            }
        },

        computed: {
            filteredProducts() {
                // Convert searchTerm to lowercase for case-insensitive comparison
                const searchTermLowerCase = this.search.toLowerCase();
                // Filter products array using the searchTerm, returning only the ones that include it
                return this.sessionProducts.filter(product => {
                    const titleLowerCase = product.title.toLowerCase();
                    return titleLowerCase.includes(searchTermLowerCase);
                });
            },
        },

        created() {
            this.getProducts()

        }
    })

    app.mount('#app')
</script>

</body>

</html>